<div class="container">
  <div class="row">
  <div class="votes col-md-8 col-md-offset-2">
    <header>
    <h1>Democracy Issue - 民主大代誌</h1>
    <p>11/29，How about 鍵盤投票？</p>
    </header>
  </div>
</div>
</div>