<div class="library-help container">
  <h2>什麼是語料庫？</h2>
  <div class="description">
  首先必須強調的是：<em>語料庫不是字典</em><br>
  UI語料庫的目的是想讓：<br>
  <em>術語</em>、<em>專有名詞</em>、<em>人名地名</em>的譯名統一
  同樣的詞在不同的文章中可能會以不同的樣子出現，<br>
  比方說Micheal Jordan有人會翻「麥可喬丹」或「米高佐登」<br>TopGun有人翻「壯志凌雲」、「捍衛戰士」或「好大一把槍」<br>
  <br>
  為了解決這個問題，<br>
  這時候你就可以新增語料庫Micheal Jordan→米糕佐登，
  讓之後的譯者參考<br>
  <br>
  初步的想法是，之後大家貼文時都可以新增語料庫的詞條，<br>
  這樣之後的譯者在使用的時候，<br>
  就可以查詢某個名詞是不是語料庫裡已經有建檔並作參考<br>
  請多多使用語料庫，越多譯者用它，<br>
  會讓它變得越好用<br>
  Have fun
  </div>
  <%= link_to "看完了，點這裡關閉說明", '#', class: 'close-lib-help'  %>
</div>