<div class="about" id="about">
  <div class="text">
    <div class="name">
      <span class="united-issues">United Issues / 世界大代誌</span> - 翻譯世界上的大小事
    </div>
    <div class="purpose">
      旨在翻譯不同語言的當地新聞，<br>
      想提供給讀者台灣新聞平台、BBC、CNN所沒有的國外時事。
    </div>
  </div>
</div>