<div class="featured-posts" id="featured-posts">
  <div class="news-container">
    <% @featured_posts.each do |post| %>
      <%= link_to post, class: "news-link" do %>
      <div class="news-element">
          <%= image_tag render_post_image(post, :thumb) %>
          <div class="description">
            <div class="title">
              <%= render_post_title post %>
            </div>
          </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="a"></div>
<div class="b"></div>
