<div class="home-banner">

  <div class="heading">
    <%= @welcome %>
  </div>
  <div class="description">
    How do you turn this on?
  </div>
</div>
<div class="feature-posts">
  <div class="well">
    Watch your thoughts, for they become words.
  </div>

</div>


