<div class="jumbotron">
  <h1><%= @welcome %></h1>
  <%= image_tag "https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/10559886_427901997348162_4446630247311372280_n.png?oh=a2c316169f2d9b1319f623222802baf0&oe=54C59C79&__gda__=1421550867_ae4cdabf04110b9c5770e5a13909e99c" %>


  <div>
  <%= link_to "拉拉拉", '#', class: "btn btn-lg btn-danger" %>
  </div>
</div>