<div class="home-banner">
  <div class="text-block">
    <div class="heading">
      <%= @welcome %>
    </div>
    <div class="description">
      How do you turn this on?
    </div>
  </div>
</div>

<div class="feature-posts">
  <div class="well">
    Watch your thoughts, for they become words.
  </div>
  <p>
    United Issue / 世界大代誌 - 翻譯世界上的大小事 <br>
    旨在翻譯不同語言的當地新聞，想提供給讀者台灣新聞平台、BBC、CNN所沒有的國外時事。
  </p>
</div>


