// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#users_filter {
    span {
        display: inline-block;
        padding: 15px;
        font-size: 25px;
        cursor: pointer;
    }
    span.active {
        color: #0f9d58;
        font-weight: 700;
    }
}