// Place all the styles related to the announcements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "color_var";
@import "default";

.announcements {
    h1, h2, h3 {
        color: $affe-red;
    }
    .latest-announcement {
        
        .content {
            h1,h2, h3, h4, h5, h6 {
              font-size: 2rem;
                color: black;
            }
        }
    }
    .table-header{
      font-weight: 600;
      color: $affe-red;
    }
}