/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require jquery-ui-timepicker-addon
 *= require_tree .
 *= require_self
 */
@import url("http://fonts.googleapis.com/css?family=Noto+Sans:400,700");


@import "bootstrap-sprockets";
@import "bootstrap";

@import "color_var";

* {
    font-family: 'Noto Sans', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: $light-gray-transparent;
    letter-spacing: 2px;
    line-height: 2em;
}

// material design

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (max-width: 759px) {

    .navbar-nav {
        margin-left: 0;
    }
    .user-nav {
        li {
            border-left: $link-text-color solid 1px;
        }
    }
    .translator-name {
        display: block;
    }
}

@media (min-width: 760px) {
    .post {
        .detail {
            display: inline-block;
        }
        .title {
            position: relative;
            bottom: 0;
            margin-top: 0;
            padding-top: 0;
        }
        .content-container.well {
            height: 50%;
        }
        .translator-name {
            position: relative;
            right: 0;
            bottom: 0;
        }
        .navbar-nav {
            margin-left: 10%;
        }
        .user-nav {
            li {
                border-left: $link-text-color solid 1px;
            }
            li:first-child {
                border-left: none;
            }
        }
    }
}

// Common
#fb-login-tab {
    a.btn {
        padding: 1em;
        background: $light-fb-blue;
        // color: $link-text-color;
        color: $primary-color;
    }
    a:hover {
        background: $fb-blue;
        color: $primary-color;
    }
}

.flash-container {
    z-index: 2;
}

.post {
    color: $highlight-color;
}

footer {
    height: 2%;
    padding-top: 1%;
    padding-bottom: 5%;
    background-color: #EEFDFF;
    clear: both;
    .author {
        color: #B8BDBC;
        a {
            color: #B8BDBC;
            position: relative;
            margin-left: 2%;
        }
        a:hover {
            background: none;
            color: $highlight-color;
        }
    }
}

#paginator {
    a {
        color: $link-text-color;
    }
    .active {
        a {
            background-color: $highlight-color;
            color: $link-text-color;
        }
    }
}

.flash-container {
    margin-top: 0.5em;
}

.shadow {
    -moz-box-shadow: 2px 2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px 2px #ccc;
    box-shadow: 2px 2px 2px 2px #ccc;
}

.admin-main {
    background-color: #607d8b;
}

// .bg-setup {
//     min-height: 100%;
//     background: #DDD;
//     .main {
//         background: image-url("bg-paper.png");
//         background-color: white;
//         width: 60%;
//         font-size: 14px;
//         line-height: 14px;
//         min-height: 200%;
//         margin-bottom: 0;
//     }
// }

.main {
    display: block;
    background: white;
    margin: 0 auto;
    min-height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    * {
        letter-spacing: 2px;
        line-height: 2em;
    }
}

.main.container {
    margin-top: 0;
}

#main-container {
    // background: image-url("bg-paper.png");
    min-height: 100%;
    padding-bottom: 20%;
}

a {
    color: #212121;
}

a:hover {
    color: $highlight-color;
    background: white;
    text-decoration: none;
}

// Navbar

.country_classification {
    ul {
        background: $primary-color;
        li {
            a {
                color: $highlight-color;
            }
        }
    }
}

.change-mode {
    font-size: 1.25em;
    margin: 0px auto;
    margin-top: 0.25em;
    margin-right: 0.25em;
}

// .navbar-header {
//     margin-left: 10%;
// }

.user-nav {
    .fb-login {
        a {
            background: $light-fb-blue;
            // color: $link-text-color;
            color: $primary-color;
        }
        a:hover {
            background: $fb-blue;
            color: $primary-color;
        }
    }
}

// .user-nav {
//     #fb-login-tab{
//         margin: 0 auto;
//     }
//     background: $highlight-color;
//     a:hover {
//         color: $primary-color;
//         background: $highlight-color;
//     }
// }

.sign-bar {
    margin-right: 1%;
}

.admin-navbar {
    a:hover {
        background-color: none;
    }
}

#admin-brand {
    background-color: $highlight-color;
    margin-left: 5%;
    color: $primary-color;
    margin: 0px auto;
    a {
        color: $primary-color;
    }
    a:hover {
        color: #eceff1;
        background-color: $highlight-color;
    }
}

.customnavbar {
    height: 10%;
    background-color: $primary-color;
    border-top: solid 1px $highlight-color;
    border-bottom: solid 2px $divider-color;
    margin-bottom: 0;
    .brand-container{
            a{
                color: $highlight-color;    
                text-indent: 2px;
                margin-right: 1em;
            }
            
            a:hover{
                background: $light-gray;
            }
    }
    // .brand {
    //     margin-left: 5%;
    //     color: $highlight-color;
    //     margin: 0 auto;
    //     a:hover {
    //         color: #eceff1;
    //         background-color: $primary-color;
    //     }
    // }
    a {
        color: $link-text-color;
    }
    a:hover {
        color: $highlight-color;
        -o-transition: color .20s linear;
            -webkit-transition: color .20s linear;
            -moz-transition: color .20s linear;
            transition:   color .20s linear;
        background: $primary-color;
        -o-transition: background-color .20s linear;
            -webkit-transition: background-color .20s linear;
            -moz-transition: background-color .20s linear;
            transition: background-color .20s linear;
    }
}
