/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-material-design
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

// Common
.flash-container {
  margin-top: 0.5em;
}

.shadow {
  -moz-box-shadow:    2px 2px 2px 2px #ccc;
  -webkit-box-shadow: 2px 2px 2px 2px #ccc;
  box-shadow:         2px 2px 2px 2px #ccc;
}
.admin-main{
  background-color: #607d8b;
}

.main {
  margin-top: 1em;
}
a {
  color: #212121;
}

a:hover{
  background: white;
  text-decoration: none;
}

// Navbar
.sign-bar {
  margin-right: 1%;
}
.admin-navbar {
  a:hover {
    background-color: white;
  }
}

.customnavbar {
  background-color: #607d8b;
  border-top: solid 4px #37474f;
  border-bottom: solid 2px #cfd8dc;
  .brand{
    a:hover{
      color: #eceff1;
      background-color: #607d8b;
    }
  }
  
  a {
    color: #eceff1;
  }
  a:hover {
    color: #37474f;
    -o-transition: color .20s linear;
    -webkit-transition: color .20s linear;
    -moz-transition: color .20s linear;
    transition:  color .20s linear;

    -o-transition: background-color .20s linear;
    -webkit-transition: background-color .20s linear;
    -moz-transition: background-color .20s linear;
    transition: background-color .20s linear;
  }
}





