/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-material-design
 *= require_tree .
 *= require_self
 */



@import "bootstrap-sprockets";
@import "bootstrap";

// material design
$primary-color: white;
$divider-color: #cfd8dc;
$highlight-color: #212121;
$link-text-color: #00b8d4;
$second-text-color: #eee;

@media (max-width: 759px) {
  .navbar-nav {
    margin-left: 0px;
  }
  .user-nav {
  li {
    border-left: $link-text-color solid 1px;
    }
  }
}

@media (min-width: 760px) {
  .navbar-nav{
    margin-left: 10%;
  }
  .user-nav {
  li {
    border-left: $link-text-color solid 1px;
  }
  li:first-child{
    border-left: none;
    }
  }
}





// Common
.flash-container {
  margin-top: 0.5em;
}

.shadow {
  -moz-box-shadow:    2px 2px 2px 2px #ccc;
  -webkit-box-shadow: 2px 2px 2px 2px #ccc;
  box-shadow:         2px 2px 2px 2px #ccc;
}
.admin-main{
  background-color: #607d8b;
}

.main {
  margin-top: 1em;
}
a {
  color: #212121;
}

a:hover{
  color: $highlight-color;
  background: white;
  text-decoration: none;
}


// Home
.home-banner{
  text-align: center;
  padding: 2em;
  padding-bottom: 15%;
  color: $primary-color;
  margin-top: 0px;
  background: $link-text-color;
  p{
    color: $second-text-color;
  }
}
.home-nav{
  margin-bottom: 0;
}



// Navbar
.navbar-header{
  margin-left: 10%;
}
.user-nav {
  background: $highlight-color;
  a:hover{
    color: $primary-color;
    background: $highlight-color;
  }

}
.sign-bar {
  margin-right: 1%;
}
.admin-navbar {
  a:hover {
    background-color: none;
  }
}
#admin-brand{
    background-color: $highlight-color;
    margin-left: 5%;
    color: $primary-color;
    margin: 0px auto;
    a{
      color: $primary-color;
    }
    a:hover{
      color: #eceff1;
      background-color: $highlight-color;
    }
}

.customnavbar {
  background-color: $primary-color;
  border-top: solid 1px $highlight-color;
  border-bottom: solid 2px $divider-color;
  
  .brand{
    margin-left: 5%;
    color: $highlight-color;
    margin: 0px auto;
    a:hover{
      color: #eceff1;
      background-color: $primary-color;
    }
  }
  
  a {
    color: $link-text-color;
  }
  a:hover {
    color: $highlight-color;
    -o-transition: color .20s linear;
    -webkit-transition: color .20s linear;
    -moz-transition: color .20s linear;
    transition:  color .20s linear;
    
    background: $primary-color;
    -o-transition: background-color .20s linear;
    -webkit-transition: background-color .20s linear;
    -moz-transition: background-color .20s linear;
    transition: background-color .20s linear;
  }
}





