$primary-color: white;
$divider-color: #cfd8dc;
$highlight-color: #212121;
$link-text-color: #00b8d4;
$second-text-color: #eeeeee;

$light-gray: #E0E0E0;
$light-gray-transparent: rgba(224,224,224, 0.6);

$fb-blue: #3b5998;
$light-fb-blue: rgba(139,157,195, 0.5);


$blockquote-yellow: #ffc;
$trans-black: rgba(0, 0, 0, 0.5);

// home news的配色
$dt-1-color: #43bc87;
$dt-2-color: #68caa0;
$dt-3-color: #80d4af;
$dt-4-color: #9fdfc3;
$dt-5-color: #bfead7;
$dd-color: #dff5eb;

$dt-gray: #cccccc;
$dd-gray: #e6e6e6;