$primary-color: white;
$divider-color: #cfd8dc;
$highlight-color: #212121;
$link-text-color: #00b8d4;
$second-text-color: #eeeeee;

$light-gray: #E0E0E0;
$light-gray-transparent: rgba(224,224,224, 0.6);

$fb-blue: #3b5998;
$light-fb-blue: rgba(139,157,195, 0.5);


$blockquote-yellow: #ffc;
