// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Home page

@import "color_var";
@import "default";
@import "common";

.home {
    min-height: 100%;
    .topic-container {
        background: $primary-color;
        min-height: 98vh;
        border-bottom: $padding-xs solid $affe-red;
        padding-bottom: $padding-m;
        .intro {
            h2,h3 {
                color: $affe-red;
            }
            h2 {
                font-weight: 600;
            }
            .intro-content {
                margin-left: $padding-s;
            }
            p {
                font-size: 1.5rem;
                line-height: 4rem;
            }
        }
        .topic-news {
            .topic-item {
                position: relative;
                margin: $padding-m 0;
                margin-left: $padding-s;
                .image {
                    @include border-radius(6px);
                    overflow: hidden;
                    width: 400px;
                    height: 267px;
                }
                .description {
                    font-size: 2rem;
                    position: absolute;
                    bottom: 0;
                    color: $primary-color;
                    @include border-radius(6px);
                    @extend .font-smoothing;
                    background: $affe-red-trans;
                    width: 400px;
                }
                &:hover {
                    .description {
                        @include transition(background, 0.2s, ease);
                        background: $affe-red-trans-hover;
                    }
                }
            }
        }
    }
    .recent-news {
        .recent-news-container {
            padding: $padding-xs;
            padding-top: $padding-l;
            padding-bottom: $padding-l;
            background: $primary-color;
            min-height: 100vh;
            .post-item {
                a {
                    margin-top: $padding-m;
                }
                h3 {
                    font-size: 2rem;
                    font-weight: 600;
                    color: $affe-red;
                    margin-top: 0;
                }
                .image {
                    @include border-radius(6px);
                    overflow: hidden;
                    width: 400px;
                    height: 267px;
                }
                margin: $padding-m 0;
                padding-bottom: $padding-m;
                border-bottom: solid 1px $light-gray;
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}