// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Home page

@import "color_var";

@media (min-width: 760px){
    .heading{
        .first-word, .last-word{
            display: inline-block;

        }
    }
}


.divider {
    -webkit-box-shadow: 0px 9px 22px 0px rgba(50, 50, 50, 0.67);
    -moz-box-shadow:    0px 9px 22px 0px rgba(50, 50, 50, 0.67);
    box-shadow:         0px 9px 22px 0px rgba(50, 50, 50, 0.67);
    margin-bottom: 2%;
    border-top: $highlight-color solid 2px;
    background-color: $primary-color;
    min-height: 13%;
    width: 100%;
    color: $highlight-color;
    margin-bottom: 0;
    text-align: center;
    .phrase {
        position: relative;
        margin-top: 1%;
        font-size: 1.5em;
    }
}

.about {
    margin-top: 0;
    min-height: 100%;
    background: #00B9F2;
    background: image-url("bg-paper-2.gif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    .text {
        text-shadow: 2px 2px $light-gray;
        position: absolute;
        margin: 0 auto;
        margin-left: 10%;
        .name {
            font-size: 2em;
            margin-top: 15%;
        }
        .purpose {
            font-size: 1em;
            margin-top: 5%;
            margin-left: 5%;
        }
    }
}

.home-banner {
    .naving-tab {
        margin-top: 5%;
    }
    .text-block {
        margin-top: 0;
        padding:2em;
        background: rgba(0, 0, 0, 0.3);
    }
    .heading {
        margin-top: 5%;
        font-size: 4em;
        .first-word {
            margin-bottom: 5%;
        }
    }
    .description {
        margin-top: 5%;
        font-size: 2em;
        color: $second-text-color;
    }
    min-height: 80%;
    text-align: center;
    padding: 2em;
    padding-bottom: 15%;
    color: $primary-color;
    margin-top: 0px;
    background: image-url("bg-paper.png");
    background-size: 100% 100%;
    background-repeat: repeat;
    background-color: $link-text-color;
}

.featured-posts {
    *{
      margin-top: 0;    
    }
    padding-bottom: 5%;
    text-indent: 5%;
    min-height: 100%;
    background: image-url("bg-paper-2.gif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    .news-container{
        margin-right: 0 auto;
        width: 90%;
        p:last-child{
            margin-bottom: 0;
        }
        .image{
            max-height: 100%;
            display: inline-block;
        }
        .news-element{
            text-indent: 0;
            width: 100%;
            padding-top: 1%;
            padding-bottom: 1%;
            margin-left: 5%;
            background: $light-gray-transparent;
            border-bottom: solid 1px $highlight-color;
            .content{
                display: inline-block;
            }
            a{
                color: $link-text-color;
            }
        }
    }
}

.home-nav {
    margin-bottom: 0;

}