// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$link-text-color: #00b8d4;

.posts {
  margin-top: 2%;
}
.note {
  color: #999;

}

#tags_cloud {
  margin: 0 auto;
  margin-top: 5em;
  margin-bottom: 5em;
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}
.new_post_sign {
  margin-right: 0.5em;
}