// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "color_var";

.posts {
  margin-top: 2%;
}
.note {
  color: #999;

}

#tags_cloud {
  margin: 0 auto;
  margin-top: 5em;
  margin-bottom: 5em;
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}
.new_post_sign {
  margin-right: 0.5em;
}

.edit-options{
  a{
    color: $link-text-color;
  }
}

.post {
  min-height: 100%;
  a {
    color: $link-text-color;
  }
  .header {
    margin-top: 4%;
  }
  .content-container{
    text-indent: 2%;
    p {
      margin-right: 4%;
      margin-left: 4%;
    }
    p:first-child{
      padding-top: 4%;
    }
    p:last-child{
     padding-bottom: 4%; 
    }
  }
  .image {

  }
}

.detail {
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    background: rgba(233, 233, 233, 0.6);
    width: 50%;
    border-radius: 5%; 
}