<footer>
    <span class="fan-page">
      <%= link_to "粉絲專頁", "https://www.facebook.com/UnitedIssue" %>
    </span>

  <span class="author">
      <%= link_to "@tinydenny ", "http://about.me/tinydenny" %>
  </span>
  <div class="version">
      Version: 0.0.2.beta
  </div>


</footer>