<footer>
  <div class="author">
    <span>
      <%= link_to "Fan Page", "https://www.facebook.com/UnitedIssue" %>
    </span>
    <span>
      <%= link_to "@tinydenny ", "http://about.me/tinydenny" %>
    </span>
    <span>
      Version: 0.0.1.beta
    </span>

  </div>


</footer>